<div class="book-item">
  <img class="item-image" src="https://images.template.net/174732/free-story-book-cover-template-edit-online.jpg" alt="">
  <a href="#">
    <div class="flex-col full-size pad">
      <span class="height-main"> Title </span>
      <div class="flex-col">
        <span> Author  </span>
        <span> 2012 - Horror  </span>
      </div>
    </div>
  </a>
</div>
